.testimonial{
    background: lighten($verde, 5);
    font-size: 2.4rem;
    color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    blockquote{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            left: -5rem;
        }
    }

    p{
        text-align: right;
        color: $blanco;

    }
}